html {
		min-width : 2000px;
}
.link{
		overflow: hidden;
		background-color: #333;
		width: 100%;
		top: 0;
		position: static;
}

.link ul{
		list-style-type: none;
		margin-left:33%; 
		margin-right:33%; 
		padding: 0;	
	}

	.link li {
		float: center;
	}

	.link li a {
		display: block;
		color: white;
		text-align: center;
		padding: 20px;
		text-decoration: none;
	}

	.link li a:hover:not(.active) {
		background-color: #111;
	}

	.link.active {
		background-color: #4CAF50;
	}
	
	.header {
    background-color: #f1f1f1;
    padding: 10px;
	line-height: 0.5em;
    text-align: center;
	width: 100%;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
	line-height: 1em;
    text-align: center;
	position: relative;
}

div.column.middle h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	border: 3px solid red;
}
p {
	font-family : Tahoma, Geneva, sans-serif;
	font-size: 16px;
}

div.photo img  {
    border-radius: 16px;
} 